/* Container Padding */
.container-md, .container-lg, .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Row Margin */
.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Column Padding */
.col, .col-md-4, .col-md-5, .col-lg-6, .col-lg-12, .col-xl-3 {
  padding-left: 10px;
  padding-right: 10px;
}

/* Custom class for max-width */
.max-width-800 {
  max-width: 800px;
}

/* Header Styles */
.nav-bg {
  background-color: #2c3e50; /* Navy blue color */
}

.navbar-brand, .nav-link {
  font-family: 'Roboto', sans-serif;
  color: #ecf0f1 !important; /* Light gray color */
}

.navbar-brand {
  font-weight: 700;
}

.navbar-nav .nav-link {
  margin-right: 15px;
}

/* Footer Styles */
.footer-bg {
  background-color: #2c3e50; /* Same as header */
  color: #ecf0f1; /* Light gray color */
}

.footer-text {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Consistent Spacing for Header and Footer */
.navbar, .footer-bg {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Hover Effects for Navbar Links */
.navbar-nav .nav-link:hover {
  color: #1abc9c !important; /* Turquoise color */
  text-decoration: underline;
}

/* Hover Effects for Footer Links */
.footer-bg a:hover {
  color: #1abc9c;
  text-decoration: underline;
}

/* Heading Styles */
h1, .anime-heading {
  font-family: 'Limelight', cursive;
  font-size: 2.5rem;
  color: #34495e; /* Dark gray */
  margin-bottom: 20px;
}

h2, .info-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 1.75rem;
  color: #2c3e50; /* Navy blue */
  margin-bottom: 15px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 10px;
}

/* Other Heading Styles */
h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #2c3e50;
}

/* Remove default margin from heading elements if needed */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/* Card Styles */
.anime.card {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* Adjustments for Anime Header */
.anime-header {
  background-color: #ecf0f1;
  padding: 10px;
}

.anime-name a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #2c3e50;
  text-decoration: none;
}

.anime-name a:hover {
  color: #1abc9c;
  text-decoration: underline;
}

/* Rating Styles */
.rating-star {
  color: #f1c40f;
}

.rating-score {
  margin-left: 5px;
  font-weight: bold;
}

/* Button Styles */
.btn-custom {
  background-color: #2c3e50;
  color: #ecf0f1;
}

.btn-custom:hover {
  background-color: #1abc9c;
  color: #fff;
}

.btn-custom-secondary {
  background-color: #ecf0f1;
  color: #2c3e50;
}

.btn-custom-secondary:hover {
  background-color: #bdc3c7;
  color: #2c3e50;
}
